/* quick color reference:
grey: rgba(255, 255, 255, 0.901961);
overlay: rgba(0,0,0,0.15);
blue accent: #3399FF
*/


footer span#author:after {
    content: "Dillon Beliveau, Doug Krieger, Sam Reinhardt";
}
body {
    padding:0px;
    margin:0px;
    font-family: sans-serif;
}
article#mainContent {
    max-width:1200px;
    width:80%;
    min-width:800px;
    margin:auto;
}
/* Fix spacing on calendar page on small screens */
body#calendar article#mainContent {
    min-width:1200px;
}
nav#mainMenu {
    background-color:rgb(85,85,85);
}
nav#mainMenu:after {
    display:block;
    height:10px;
    background-color:#3399FF;
    width:100%;
    content:"";
}
nav#mainMenu ol {
    margin:0;

}
nav#mainMenu ol li.menuLink {
    display:inline;
}
.menuLink {
}
.menuLink a {
    display:inline-block;
    text-decoration:none;
    margin-top:20px;
    padding-top:10px;
    padding-bottom:20px;
    text-align:center;
    width: 150px;
}
nav#mainMenu ol li.menuLink.activeLink a {
    color:rgb(255,244,191);
}
nav#mainMenu ol li.menuLink.activeLink a:hover {
    text-shadow:0px 0px 5px rgba(255,244,191);
}
nav#mainMenu ol li.menuLink a {
    color:rgba(255, 255, 255, 0.901961);
    transition:text-shadow 0.5s;
    transition: background-color .5s;
    margin-bottom: -10px;
}
nav#mainMenu ol li.menuLink a:hover {
    text-shadow:0px 0px 10px rgba(255, 255, 255, 0.901961);
    background-color: rgba(0,0,0,0.15);
}

header a {
    color:rgba(255, 255, 255, 0.901961);
    background-color:rgb(85,85,85);
}
header {
    color:rgba(255, 255, 255, 0.901961);
    background-color:rgb(85,85,85);
    padding:10px;
}
h1#classtitle {
    font-size:1.5em;
    font-weight: normal;
}
h1#classtitle a {
    text-decoration:none;
}

aside#studentInfo {
    color:rgba(255, 255, 255, 0.901961);
    background-color:rgb(85,85,85);
}
nav#toolmenu {
    display:none;
}
#studentInfo{
position:absolute;
right:30px;
top:20px;
}
#studentInfo a {
    color:#3399FF;
}
#studentName a:before, #studentName a:after {
    content: "  ";
}

@media (max-width:1159px){
    h1#classtitle {
    font-size: 1em;
    }
}

/* Calendar */
table.vcalendar {
    table-layout:fixed;
    border-collapse:collapse;
    width:1200px;

}
table.vcalendar div.event {
    display:block;
    width:100%;
    margin-top:40px;
}

table.vcalendar, table.vcalendar td, table.vcalendar th {
    border:1px solid black;
    box-sizing:border-box;
}
table.vcalendar th {
    break-word:word-wrap;
}
table.vcalendar td {
    height:125px;
    vertical-align:text-top;
    overflow:hidden;
    break-word:word-wrap;
}
table.vcalendar tr#attendanceRow td {
    height:auto;
}
table.vcalendar td div.date {
    color:rgba(255, 255, 255, 0.901961);
    width:171px;
    display:block;
    height:30px;
    text-align:right;
    overflow:hidden;
    padding-right:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color:rgb(85,85,85);
    margin-top:-1px;
    margin-left:-1px;
    padding-top:3px;
    border-bottom:1px solid black;
}
a.callInSick {
    position:absolute;
    display:block;
    z-index:2;
    margin-top:2px;
    margin-left:1px;
    text-decoration:none;
}
a.callInSick img {
    display:none;
}
a.callInSick:after {
    content:"Sick";
    text-decoration:none;
    color:white;
    margin-left:2px;
    padding:5px;
}
a.callInSick:hover {
    background-color:rgba(0,0,0,0.15);
}
nav#adminMenu {
    width: 200px;
    margin-left:-180px;
    position:absolute;
    background-color:rgb(85,85,85);
    color:rgba(255, 255, 255, 0.901961);
}
nav#adminMenu:hover {
    margin-left:-30px;
    transition:margin-left 0.5s;
}
nav#adminMenu ol {
    list-style-type:none;
}
nav#adminMenu ol li.menuLink a:hover {
    background-color:rgba(0,0,0,0.15);
}

nav#adminMenu ol li.menuLink a {
    color:rgba(255, 255, 255, 0.901961);

}

img[src="media/earth.jpg"] {
    display:none;
}
/* statuses */
.Excused {
    color: #aa0011 !important;
    background: #ffadad !important;
    text-align: center; 
}

.labComplete {
    color: #24B300 !important;
    background: #ffcfcf !important;
    text-align: center; 
}
.Late {
    color: #24B300 !important;
    background: #ddffdf !important;
    text-align: center; 
}

.Personal {
    color: #aa0011 !important;
    background: #ffcfcf !important;
    text-align: center; 
}

.Present {
    color: #24B300 !important;
    background: #CCFFBF !important;
    text-align: center;
}

.presentation {
    border: dashed medium #ff0000 !important;
}
.Sick {
    color: #aa0011 !important;
    background: #ffadad !important;
    text-align: center; 
}
